@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.dm-serif-text-regular {
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1e293b;
}

.btn {
    border-radius: 0;
}

.btn-primary {
    border: 1px #000 solid;
    font-family: 'DM Serif Text', serif;
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    color: #000;
    padding: 0.75rem 2rem;
}

.btn-primary:hover {
    background-color: #f1f5f9;
    border: 1px #000 solid;
    color: #000;
}

.line-clamp-1 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.line-clamp-5 {
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}
